<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>글작성</h3>
<form action="/board/add" method="post">
<table border="1">
  <tr><th>writer</th><td><input type="text" name="writer" value="{{session.login_id}}" readonly></td></tr>
  <tr><th>title</th><td><input type="text" name="title"></td></tr>
  <tr><th>content</th><td><input type="text" name="content"></td></tr>
  <tr><th>save</th><td><input type="submit" value="저장"></td></tr>
</table>
</form>
</body>
</html>