<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>제품목록</h3>
<a href="/product/add">제품등록</a><br/>
<table border="1">
    <tr><th>num</th><th>name</th><th>price</th><th>amount</th><th>구매</th></tr>
    {% for p in plist %}
    <tr>
        <td>{{p.num}}</td>
        <td><a href="/product/get?num={{p.num}}">{{p.name}}</a></td>
        <td>{{p.price}}</td>
        <td>{{p.amount}}</td>
        <td><a href="/product/prod-detail/{{p.num}}">구매</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>