<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>노선 정보</h3>
<table border="1">
    <tr><th>route_id</th><td>{{bus.route_id}}</td></tr>
    <tr><th>bus_name</th><td>{{bus.bus_name}}</td></tr>
    <tr><th>st_station</th><td>{{bus.st_station}}</td></tr>
    <tr><th>ed_station</th><td>{{bus.ed_station}}</td></tr>
    <tr><th>term</th><td>{{bus.term}}</td></tr>
    <tr><th>first_tm</th><td>{{bus.first_tm}}</td></tr>
    <tr><th>last_tm</th><td>{{bus.last_tm}}</td></tr>
    <tr><th>corp_name</th><td>{{bus.corp_name}}</td></tr>
</table>
</body>
</html>