<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>리뷰게시판 글작성</h3>
<form action="/board/add/{{num}}" method="POST" enctype="multipart/form-data">
    <table border="1">
        <tr>
            <th>내용</th><td><textarea name="content" rows="15" cols="45"></textarea></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td><input type="text" name="writer"></td>
        </tr>

        <tr>
           <td><input type="hidden" name="itsBroNm" value="{{itsBroNm}}"> </td>
        </tr>

        <tr>
            <th>쓰기</th><td><input type="submit" value="작성"></td>
        </tr>
    </table>
</form>
</body>
</html>