<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>맛집 랭킹</title>

</head>
<body>

<table style="margin-left:auto; margin-right:auto; text-align:center; margin-top:150px;">

    <tr>
        <td>
            <div >
            <form action="/nationWide/nationWide_info" method="post">
                <input style="width:100px; height:50px; font-weight:bold;" type="submit" value="전국맛집랭킹">
            </form>
            </div>
        </td>
        <td>
            <div>
            <form action="/rank/regionRank" method="post">
                <select name="y" class="custom-select">
                    <option value="강원도">강원도</option>
                    <option value="경기도" selected="selected">경기도</option>
                    <option value="경상북도">경상북도</option>
                    <option value="경상남도">경상남도</option>
                    <option value="대전광역시">대전광역시</option>
                    <option value="부산광역시">부산광역시</option>
                    <option value="서울특별시">서울특별시</option>
                    <option value="인천광역시">인천광역시</option>
                    <option value="전라북도">전라북도</option>
                    <option value="제주특별자치도">제주특별자치도</option>
                    <option value="전라남도">전라남도</option>
                    <option value="충청남도">충청남도</option>
                </select>
            <input type="submit" value="검색">
            </form>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div>
            <form action="/nationWide/api_to_db" method="post">
                <input style="width:50px; height:25px;" type="submit" value="API to DB">
            </form>
            </div>
        </td>
    </tr>
</table>

</body>
</html>