<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>멤버 리스트</h3>
{% if session.flag %}
    {{session.login_id}} 로그인 중<br/>
    <a href="/member/logout">로그아웃</a><br/>
{% else %}
    <a href="/member/login">로그인</a><br/>
    <a href="/member/join">회원가입</a><br/>
    {{session.msg}}
{% endif %}
<table border="1">
    <tr><th>id</th><th>pwd</th><th>name</th><th>email</th></tr>
    {% for m in mlist %}
    <tr><td>{{m.id}}</td>
        <td>{{m.pwd}}</td>
        <td><a href="/member/get/{{m.id}}">{{m.name}}</a></td>
        <td>{{m.email}}</td></tr>
    {% endfor %}
</table>
</body>
</html>