<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;
        text-align: center;
      }

      th, td {
        border-bottom: 1px solid #444444;
        border-left: 1px solid #444444;
        padding: 10px;
      }

      th:first-child, td:first-child {
        border-left: none;
      }

      .container{
      width: 60%;
      margin: auto;
      }

      table tr:hover{
		background-color: #E2E2E2;
	}

    </style>
</head>
<body>

<div class="container">
    <div id="map" style="width:500px;height:400px;"></div>
    <table border="1">
        <tr><th>전국순위</th><th>지역명</th><th>가게명</th><th>주소</th></tr>
        {% for r in rank %}
        <tr>
            <td>{{r.rk}}</td>
            <td>{{r.areaNm}}</td>
            <td>{{r.itsBroNm}}</td>
            <td>{{r.dtlAddrNm}}</td>
        </tr>
        <input type="hidden" value="{{r.dtlAddrNm}}" class="adr">
        <input type="hidden" value="{{r.itsBroNm}}" class="shopName">
        {% endfor %}
    </table>

</div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a4311adb6e1c8e2e4bdef6d9d507e8a5&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// api에서 주소 가져오기
var adr = document.getElementsByClassName('adr'); // 지도를 표시할 div

var shopName = document.getElementsByClassName('shopName'); // 지도를 표시할 가게명

{% for r in rank %}
for (var i=0; i < adr.length; i++) {
    // 주소로 좌표를 검색합니다
    console.log(shopName[i].value)
    geocoder.addressSearch(adr[i].value, function(result, status) {

        // 정상적으로 검색이 완료됐으면
         if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);



        var iwContent = '<div style="padding:5px;">{{r.rk}}위  {{r.itsBroNm}}</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
            });


        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
                };
            }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
                return function() {
                infowindow.close();
                };
            }

        kakao.maps.event.addListener(marker, 'click', function() {
             // 클릭 이벤트 발동시 해당 링크로 이동합니다.
            location.href='/';
            });
         }
    }
)};
{% endfor %}

</script>
</html>